name: "[nanobundle] Integration"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  chore:
    name: Checking chores
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Type Check
        run: yarn workspace nanobundle type-check

  test:
    name: Running unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Execute Tests
        run: yarn workspace test run --coverage

      - uses: codecov/codecov-action@v3
        with:
          directory: packages/nanobundle
